---
import Card from "../components/Card.astro";

const projects = [
	{
		number: 1,
		title: "Adivina el número",
		description:
			"En este proyecto se implementan comparaciones con una función que genera un número aleatorio y un número que se puede ingresar por teclado.",
		demoLink: "day1/index.html",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/tree/main/01-guess-the-number",
	},
	{
		number: 2,
		title: "Calculadora",
		description:
			"Una calculadora básica con operaciones matemáticas comunes.",
		demoLink: "day2/index.html",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/tree/main/02-calculadora",
	},
	{
		number: 3,
		title: "Calculadora",
		description:
			"Una calculadora básica con operaciones matemáticas comunes.",
		demoLink: "day2/index.html",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/tree/main/02-calculadora",
	},
];
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/src/styles/main.css" />
		<title>100 proyectos de JavaScript</title>
	</head>

	<body>
		<header class="header">
			<h1>100 proyectos de JavaScript</h1>
			<p>
				Este es un repositorio de 100 proyectos de JavaScript. Aquí
				podrás aprender algo nuevo sobre JavaScript, el código y el demo
				lo tienes en cada tarjeta.
			</p>
		</header>

		<div class="cards-container">
			{projects.map((project) => (
				<Card
					number={project.number}
					title={project.title}
					description={project.description}
					demoLink={project.demoLink}
					codeLink={project.codeLink}
				/>
			))}
		</div>
		<footer>Hecho con ❤️ por Esteban Castaño</footer>
	</body>
</html>

