---
import Card from "../components/Card.astro";
const projects = [
	{
		number: 1,
		title: "Adivina el número",
		description:
			"En este proyecto se implementan comparaciones con una función que genera un número aleatorio y un número que se puede ingresar por teclado.",
		demoLink: "/src/pages/proyectos/01-guess-the-number.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/01-guess-the-number.astro",
	},
	{
		number: 2,
		title: "Generador de contraseñas",
		description:
			"Este proyecto genera contraseñas aleatorias con una longitud que se puede definir por teclado.",
		demoLink: "/src/pages/proyectos/02-password-generator.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/02-password-generator.astro",
	},
	{
		number: 3,
		title: "Piedra, papel o tijera",
		description:
			"Juego de piedra, papel o tijera en el que se puede seleccionar el idioma.",
		demoLink: "/src/pages/proyectos/03-rock-paper-scissor.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/03-rock-paper-scissor.astro",
	},
	{
		number: 4,
		title: "Reloj digital",
		description:
			"Un reloj digital que muestra la hora actual y se actualiza cada segundo.",
		demoLink: "/src/pages/proyectos/04-digital-watch.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/04-digital-watch.astro",
	},
	{
		number: 5,
		title: "Conversor de unidades",
		description:
			"Conversor de unidades de peso con las opciones de kilogramos, gramos, miligramos, libras y onzas.",
		demoLink: "/src/pages/proyectos/05-unit-converter.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/05-unit-converter.astro",
	},
	{
		number: 6,
		title: "Temporizador",
		description:
			"Temporizador con opciones de horas, minutos y segundos que se pueden definir por teclado.",
		demoLink: "/src/pages/proyectos/06-timer.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/06-timer.astro",
	},
	{
		number: 7,
		title: "Calculadora",
		description:
			"Una calculadora básica con operaciones matemáticas comunes.",
		demoLink: "/src/pages/proyectos/07-calculator.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/07-calculator.astro",
	},
	{
		number: 8,
		title: "Formulario con validación",
		description:
			"Formulario con validación de campos de texto, correo electrónico y contraseña.",
		demoLink: "/src/pages/proyectos/08-form.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/08-form.astro",
	},
	{
		number: 9,
		title: "Juego de memoria",
		description:
			"Juego de memoria en el que se deben recordar las posiciones de las cartas.",
		demoLink: "/src/pages/proyectos/09-memory-game.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/09-memory-game.astro",
	},
	{
		number: 10,
		title: "To Do List",
		description:
			"Lista de tareas en la que se pueden agregar, eliminar y marcar como completadas.",
		demoLink: "/src/pages/proyectos/10-to-do-list.astro",
		codeLink:
			"https://github.com/estebancastano/100-proyectos-javascript/blob/main/src/pages/proyectos/10-to-do-list.astro",
	},
];
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/src/styles/main.css" />
		<title>100 proyectos de JavaScript</title>
	</head>

	<body>
		<header class="header">
			<h1>100 proyectos de JavaScript</h1>
			<p>
				Este es un repositorio de 100 proyectos de JavaScript. Aquí
				podrás aprender algo nuevo sobre JavaScript, el código y el demo
				lo tienes en cada tarjeta.
			</p>
		</header>

		<div class="cards-container">
			{projects.map((project) => (
				<Card
					number={project.number}
					title={project.title}
					description={project.description}
					demoLink={project.demoLink}
					codeLink={project.codeLink}
				/>
			))}
		</div>
		<footer>Hecho con ❤️ por Esteban Castaño</footer>
	</body>
</html>

